BODY, TABLE {
font-family: verdana, arial; font-size:12px; line-height:150% }
.title      { font-family:arial; font-size:18px; color:white; font-weight:bold; height:40px }
.table1     { border:1px solid #999999 }
.table2     { border:1px dotted #999999 }
.menustrip  { font-color:black; background-color:#EEEEEE; font-size:12px; height:24px }
a:link, a:visited, a:active  { color:rgb(132, 179, 34); text-decoration:none }
b {color:rgb(140, 180, 113)}
h1 {color:rgb(140, 180, 113)}
blockquote { margin:0 10px; }
blockquote p {             
			 display: block;
             color:#777!important;
             border-left: 6px solid #FDE293;
             text-align:left;			 
             padding-left:10px; 
             background:#F3FFE6;			 
			 /* Added */
			 padding-bottom: 2px;
            }

blockquote p:hover {
   background:#F6F7F8;
   display:block;
   border-left: 6px solid #c60;
   padding-bottom: 2px;
}
a:hover  {color:rgb(140, 180, 113); border-bottom:1px dashed;}
.copyright { font-size:10px }
.header     { border-bottom:1px dashed rgb(140, 180, 113); font-family:Avalon;  color:rgb(140, 180, 113); font-size:50px; background-color:#FEFEFE; letter-spacing:2px }
/* Fading Tooltips By Dustin Diaz*/
body div#toolTip { position:absolute;z-index:1000;width:220px;background:#fff;border:1px dashed rgb(140, 180, 113);text-align:left;padding:5px; }
body div#toolTip p { margin:0;padding:0;color:#000;font:11px/12px verdana,arial,serif; }
body div#toolTip p em { display:block;margin-top:3px;color:rgb(132, 179, 34);font-style:normal;font-weight:bold; }
body div#toolTip p em span { font-weight:bold;color:color:rgb(132, 179, 34); }